# Database Configuration
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Redis Configuration
REDIS_HOST=
REDIS_PORT=
REDIS_QUEUE=

# API Configuration
API_PORT=
API_URL=

# Frontend Configuration
NEXT_PUBLIC_API_URL=
